<template name="leaderBoard">
  <table class="ui unstackable table">
    <thead>
      <tr>
        <th>Name</th>
        <th>Score</th>
      </tr>
    </thead>
    <tbody>
      {{#each players}}
      <tr class="player-item {{ selectedPlayerClass }}">
        <td>{{ name }}</td>
        <td>{{ score }}</td>
      </tr>
      {{/each}}
    </tbody>
  </table>
  <div class="ui buttons">
    <div class="ui {{ isDisabledBtn }} add-point primary button"> Add 5 Points </div>
    <div class="ui {{ isDisabledBtn }} minus-point secondary button"> Minus 5 Points </div>
    <div class="ui {{ isDisabledBtn }} delete-player red button"> Delete Player </div>
  </div>
</template>
